@font-face {
    font-family: Montserrat-Regular;
    src: url(../../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
  }

@font-face {
    font-family: Montserrat-Medium;
    src: url(../../../assets/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
  }

@font-face {
    font-family: Oswald-Medium;
    src: url(../../../assets/fonts/Oswald/static/Oswald-Medium.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: Montserrat-Bold;
    src: url(../../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
  }
