.gallery {
  display: flex;
  max-width: 100%;
  position: relative;

  img {
    object-fit: cover;
    width: inherit;
  }

  .img-group {
    display: flex;
    flex-direction: column;
    
  }

  .group {
    display: flex;
    width: 100%;
  }
}

.gallery::before {
    content: "";
    background-image: url(../../../assets/img/ripped.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    top: -15px;
    z-index: 12;
    height: 20%;
}

.gallery::after {
    content: "";
    background-image: url(../../../assets/img/ripped8.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    bottom: -26px;
    z-index: 12;
    height: 20%;
}

@media screen and (max-width: 500px) {
  .gallery {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    .group {
      img {
        width: 50%;
      }
    }
  
    img {
      object-fit: cover;
    }
  
    .img-group {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }

  .gallery::before {
    content: "";
    background-image: url(../../../assets/img/ripped.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    top: -1px;
    z-index: 12;
    height: 20%;
}

.gallery::after {
    content: "";
    background-image: url(../../../assets/img/ripped8.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    top: -300px;
    z-index: 12;
    height: 20%;
}

}